*
!/.gitignore
!/aclocal.m4
!/dospaths.m4

/00gnulib.m4
/absolute-header.m4
/access.m4
/alloca.m4
/asm-underscore.m4
/close.m4
/dirname.m4
/double-slash-root.m4
/dup2.m4
/eaccess.m4
/errno_h.m4
/error.m4
/extensions.m4
/fcntl.m4
/fcntl_h.m4
/findprog-in.m4
/getdtablesize.m4
/getloadavg.m4
/getprogname.m4
/gnulib-common.m4
/gnulib-comp.m4
/gnulib-tool.m4
/host-cpu-c-abi.m4
/include_next.m4
/limits-h.m4
/malloc.m4
/msvc-inval.m4
/msvc-nothrow.m4
/multiarch.m4
/off_t.m4
/ssize_t.m4
/stdbool.m4
/stddef_h.m4
/stdint.m4
/stdio_h.m4
/stdlib_h.m4
/stpcpy.m4
/strerror.m4
/string_h.m4
/sys_socket_h.m4
/sys_types_h.m4
/unistd_h.m4
/warn-on-use.m4
/xalloc.m4
/zzgnulib.m4
