*.a
*.o
*~
.deps
/.dep_segment
/.pc
/ABOUT-NLS
/Basic.mk
/ChangeLog
/Makefile
/Makefile.DOS
/Makefile.in
/NMakefile
/README
/README.DOS
/README.OS2
/README.W32
/SMakefile
/aclocal.m4
/autom4te.cache
/build.cfg
/build.sh
/build.sh.in
/config
/config.ami
/config.dos
/config.h
/config.h-vms
/config.h.W32
/config.h.in
/config.log
/config.status
/config/*.m4
/config/Makefile
/config/test-driver
/configure
/debian/remake.debhelper.log
/dist
/loadavg
/m4
/make
/po-check-*
/remake
/remake-*.tar.bz2
/remake-*.tar.gz
/remake-*.tar.lz
/remake-4.*+dbg-*
/stamp-h1
/tmp
/w32
build.*.json
callgrind.out.*
