*.a
*.o
*~
.deps
.vscode
/*.log
/.Tpo
/.dep_segment
/ABOUT-NLS
/ChangeLog
/Makefile
/Makefile.DOS
/Makefile.in
/NMakefile
/README
/README.DOS
/README.OS2
/README.W32
/SMakefile
/aclocal.m4
/autom4te.cache
/build-aux
/build.sh
/build.sh.in
/config
/config.ami
/config.h
/config.h-vms
/config.h.W32
/config.h.in
/config.log
/config.status
/configh.dos
/configure
/debian/remake.debhelper.log
/dist
/docs
/lib
/loadavg
/m4
/main.h
/make
/po-check-*
/remake
/remake-*.tar.bz2
/remake-*.tar.gz
/remake-*.tar.lz
/src
/stamp-h1
/test-profile
/tmp
callgrind.out.*
