/*~
/Makefile
/Makefile.in
/fdl.texi
/make-stds.texi
/make.info
/make.info-1
/make.info-2
/make_abt.html
/mdb.info
/remake.aux
/remake.cp
/remake.cps
/remake.fn
/remake.html
/remake.info
/remake.ky
/remake.kys
/remake.log
/remake.pdf
/remake.pg
/remake.toc
/remake.tp
/remake.vr
/remake_1.html
/remake_2.html
/stamp-1
/stamp-vti
/version-remake.texi
/version.texi
