/*~
/Makefile
/Makefile.in
/make.1
/make.info
/make.info-1
/make.info-2
/mdb.aux
/mdb.cp
/mdb.cps
/mdb.dvi
/mdb.fn
/mdb.html
/mdb.info
/mdb.ky
/mdb.kys
/mdb.log
/mdb.pg
/mdb.toc
/mdb.tp
/mdb.vr
/stamp-1
/stamp-vti
/version-mdb.texi
/version.texi
