 !/glob.in.h
 /glob.h

/Makefile
/Makefile.am
/Makefile.in
/_Noreturn.h
/access.c
/alloca.c
/alloca.h
/alloca.in.h
/arg-nonnull.h
/basename-lgpl.c
/c++defs.h
/close.c
/concat-filename.c
/concat-filename.h
/dirname-lgpl.c
/dosname.h
/dup2.c
/errno.in.h
/error.c
/error.h
/exitfail.c
/exitfail.h
/fcntl.c
/fcntl.h
/fcntl.in.h
/fd-hook.c
/fd-hook.h
/filename.h
/findprog-in.c
/findprog.h
/getdtablesize.c
/getloadavg.c
/getprogname.c
/getprogname.h
/gettext.h
/intprops.h
/limits.h
/limits.in.h
/malloc.c
/msvc-inval.c
/msvc-inval.h
/msvc-nothrow.c
/msvc-nothrow.h
/stdbool.in.h
/stddef.in.h
/stdint.in.h
/stdio.h
/stdio.in.h
/stdlib.h
/stdlib.in.h
/stpcpy.c
/strerror-override.c
/strerror-override.h
/strerror.c
/string.h
/string.in.h
/stripslash.c
/sys
/sys_types.in.h
/unistd.c
/unistd.h
/unistd.in.h
/verify.h
/warn-on-use.h
/xalloc-die.c
/xalloc-oversized.h
/xalloc.h
/xconcat-filename.c
/xmalloc.c
